CREATE DATABASE [DB_TechMart];
USE [DB_TechMart]
GO
/****** Object:  Table [dbo].[account]    Script Date: 18-11-2021 12:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[username] [varchar](255) NOT NULL,
	[password] [varchar](255) NULL,
	[status] [bit] NOT NULL,
	[info_id] [int] NOT NULL,
	[vetification_code] [nvarchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[address]    Script Date: 18-11-2021 12:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[address](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[create_date] [date] NULL,
	[created_by] [varchar](255) NULL,
	[modified_by] [varchar](255) NULL,
	[modified_date] [datetime2](7) NULL,
	[name] [nvarchar](1000) NULL,
	[status] [bit] NOT NULL,
	[user_detail_id] [int] NOT NULL,
	[is_main] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[authorities]    Script Date: 18-11-2021 12:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[authorities](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](255) NULL,
	[roleid] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 18-11-2021 12:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](1000) NULL,
	[parent_id] [int] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoice]    Script Date: 18-11-2021 12:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[create_date] [date] NULL,
	[created_by] [varchar](255) NULL,
	[modified_by] [varchar](255) NULL,
	[modified_date] [datetime2](7) NULL,
	[status] [bit] NOT NULL,
	[userdetail_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoice_detail]    Script Date: 18-11-2021 12:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[price] [float] NOT NULL,
	[quantity] [int] NOT NULL,
	[total] [float] NOT NULL,
	[invoice_id] [int] NULL,
	[product_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[photo]    Script Date: 18-11-2021 12:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[photo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[is_main] [bit] NOT NULL,
	[name] [varchar](255) NULL,
	[status] [bit] NOT NULL,
	[product_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 18-11-2021 12:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lan] [nvarchar](255) NULL,
	[accessory] [nvarchar](255) NULL,
	[active] [bit] NOT NULL,
	[aspect_ratio] [nvarchar](255) NULL,
	[audio] [nvarchar](255) NULL,
	[battery] [nvarchar](255) NULL,
	[bluetooth] [nvarchar](255) NULL,
	[brightness] [nvarchar](255) NULL,
	[color] [nvarchar](255) NULL,
	[comm_port] [nvarchar](max) NULL,
	[compatible] [nvarchar](255) NULL,
	[condition] [nvarchar](255) NULL,
	[contrast] [nvarchar](255) NULL,
	[cpu_engine] [nvarchar](255) NULL,
	[create_date] [date] NULL,
	[created_by] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[graphics_card] [nvarchar](255) NULL,
	[hard_drive] [nvarchar](255) NULL,
	[insurance] [nvarchar](255) NULL,
	[is_featured] [bit] NOT NULL,
	[key_caps] [nvarchar](255) NULL,
	[keyboard] [nvarchar](255) NULL,
	[manufacturer] [nvarchar](255) NULL,
	[material] [nvarchar](255) NULL,
	[memory_card] [nvarchar](255) NULL,
	[model] [nvarchar](255) NULL,
	[modified_by] [nvarchar](255) NULL,
	[modified_date] [datetime2](7) NULL,
	[name] [nvarchar](1000) NULL,
	[ope_sys] [nvarchar](255) NULL,
	[other_function] [nvarchar](255) NULL,
	[pin_connection] [nvarchar](255) NULL,
	[pixel_size] [nvarchar](255) NULL,
	[price] [float] NOT NULL,
	[quantity] [int] NOT NULL,
	[ram] [nvarchar](255) NULL,
	[resolution] [nvarchar](255) NULL,
	[scan_frequency] [nvarchar](255) NULL,
	[screen] [nvarchar](255) NULL,
	[security] [nvarchar](255) NULL,
	[sensor] [nvarchar](255) NULL,
	[size] [nvarchar](255) NULL,
	[sound_proofing] [nvarchar](255) NULL,
	[speed] [nvarchar](255) NULL,
	[status] [bit] NOT NULL,
	[switchh] [nvarchar](255) NULL,
	[usb_data] [nvarchar](255) NULL,
	[used_time] [nvarchar](255) NULL,
	[views] [int] NOT NULL,
	[webcam] [nvarchar](255) NULL,
	[weight] [nvarchar](255) NULL,
	[wifi] [nvarchar](255) NULL,
	[category_id] [int] NULL,
	[origin] [nvarchar](255) NULL,
	[cases] [nvarchar](255) NULL,
	[mainboard] [nvarchar](255) NULL,
	[psu] [varchar](255) NULL,
	[ssd] [varchar](255) NULL,
 CONSTRAINT [PK__product__3213E83F4142AB50] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 18-11-2021 12:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [varchar](255) NOT NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_detail]    Script Date: 18-11-2021 12:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[birthday] [datetime2](7) NULL,
	[email] [varchar](255) NULL,
	[full_name] [nvarchar](1000) NULL,
	[gender] [bit] NOT NULL,
	[phone] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[account] ([username], [password], [status], [info_id], [vetification_code]) VALUES (N'baobd', NULL, 1, 34, NULL)
INSERT [dbo].[account] ([username], [password], [status], [info_id], [vetification_code]) VALUES (N'duyentm', N'12456', 1, 25, N'ajrM4QS2gOJPgdT3tmWsqdQ1nEVcXA9PyLVEIWhIdrKpNOihVrRIvR2YJ3NjMcSy')
INSERT [dbo].[account] ([username], [password], [status], [info_id], [vetification_code]) VALUES (N'duytn', N'123456', 1, 32, N'ZIx9NEbqxaVPTtfpQRXFVoLmWZtCSD1Ob3mgwkucYf6ciw2Jxum6svuvwmRbznh9')
GO
SET IDENTITY_INSERT [dbo].[address] ON 

INSERT [dbo].[address] ([id], [create_date], [created_by], [modified_by], [modified_date], [name], [status], [user_detail_id], [is_main]) VALUES (2, NULL, NULL, NULL, NULL, N'Phước Long, Bạc Liêu', 1, 21, 1)
SET IDENTITY_INSERT [dbo].[address] OFF
GO
SET IDENTITY_INSERT [dbo].[authorities] ON 

INSERT [dbo].[authorities] ([id], [username], [roleid]) VALUES (33, N'baobd', N'USER')
INSERT [dbo].[authorities] ([id], [username], [roleid]) VALUES (39, N'duyentm', N'EMP')
INSERT [dbo].[authorities] ([id], [username], [roleid]) VALUES (52, N'duyentm', N'USER')
SET IDENTITY_INSERT [dbo].[authorities] OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [name], [parent_id], [status]) VALUES (1, N'Laptop', NULL, 1)
INSERT [dbo].[category] ([id], [name], [parent_id], [status]) VALUES (2, N'Laptop Gaming', 1, 1)
INSERT [dbo].[category] ([id], [name], [parent_id], [status]) VALUES (3, N'Laptop Học Tập', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[photo] ON 

INSERT [dbo].[photo] ([id], [is_main], [name], [status], [product_id]) VALUES (1, 0, N'd987a9bd.png', 1, 3)
INSERT [dbo].[photo] ([id], [is_main], [name], [status], [product_id]) VALUES (2, 1, N'43fc805a.png', 1, NULL)
INSERT [dbo].[photo] ([id], [is_main], [name], [status], [product_id]) VALUES (3, 1, N'5ff7b786.jpg', 1, 7)
GO
SET IDENTITY_INSERT [dbo].[photo] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

GO
SET IDENTITY_INSERT [dbo].[product] OFF
GO
INSERT [dbo].[role] ([id], [name]) VALUES (N'ADMIN', N'Administrator')
INSERT [dbo].[role] ([id], [name]) VALUES (N'EMP', N'Employee')
INSERT [dbo].[role] ([id], [name]) VALUES (N'USER', N'User')
GO
SET IDENTITY_INSERT [dbo].[user_detail] ON 

INSERT [dbo].[user_detail] ([id], [birthday], [email], [full_name], [gender], [phone]) VALUES (2, CAST(N'2001-01-01T07:00:00.0000000' AS DateTime2), N'user01@gmail.com', N'Tào Văn Kan', 1, N'0255285264')
INSERT [dbo].[user_detail] ([id], [birthday], [email], [full_name], [gender], [phone]) VALUES (21, CAST(N'2001-03-23T07:00:00.0000000' AS DateTime2), N'huythps13657@fpt.edu.vn', N'Trương Hoàng Huy', 1, N'0377237293')
INSERT [dbo].[user_detail] ([id], [birthday], [email], [full_name], [gender], [phone]) VALUES (25, CAST(N'2003-05-01T07:00:00.0000000' AS DateTime2), N'duyentm@gmail.com', N'Mỹ Duyên', 0, N'0377237283')
SET IDENTITY_INSERT [dbo].[user_detail] OFF
GO
/****** Object:  Index [UK_ro0tbxsymw45g9ho8i3lvgxro]    Script Date: 18-11-2021 12:11:52 AM ******/
ALTER TABLE [dbo].[account] ADD  CONSTRAINT [UK_ro0tbxsymw45g9ho8i3lvgxro] UNIQUE NONCLUSTERED 
(
	[info_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKhtk0tjw6uf67w0vkhy5n3j1oq]    Script Date: 18-11-2021 12:11:52 AM ******/
ALTER TABLE [dbo].[authorities] ADD  CONSTRAINT [UKhtk0tjw6uf67w0vkhy5n3j1oq] UNIQUE NONCLUSTERED 
(
	[username] ASC,
	[roleid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD  CONSTRAINT [FK2phpe0mxbx43fmeo2ujc7qkmw] FOREIGN KEY([info_id])
REFERENCES [dbo].[user_detail] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[account] CHECK CONSTRAINT [FK2phpe0mxbx43fmeo2ujc7qkmw]
GO
ALTER TABLE [dbo].[address]  WITH CHECK ADD  CONSTRAINT [FK9yb2a7d0hyuycecxehfxxykbg] FOREIGN KEY([user_detail_id])
REFERENCES [dbo].[user_detail] ([id])
GO
ALTER TABLE [dbo].[address] CHECK CONSTRAINT [FK9yb2a7d0hyuycecxehfxxykbg]
GO
ALTER TABLE [dbo].[authorities]  WITH CHECK ADD  CONSTRAINT [FK33obgq2ru2w6mc1j7s0u0ju81] FOREIGN KEY([username])
REFERENCES [dbo].[account] ([username])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[authorities] CHECK CONSTRAINT [FK33obgq2ru2w6mc1j7s0u0ju81]
GO
ALTER TABLE [dbo].[authorities]  WITH CHECK ADD  CONSTRAINT [FK559441kgt3loqjnqevypvowpl] FOREIGN KEY([roleid])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[authorities] CHECK CONSTRAINT [FK559441kgt3loqjnqevypvowpl]
GO
ALTER TABLE [dbo].[category]  WITH CHECK ADD  CONSTRAINT [FK2y94svpmqttx80mshyny85wqr] FOREIGN KEY([parent_id])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[category] CHECK CONSTRAINT [FK2y94svpmqttx80mshyny85wqr]
GO
ALTER TABLE [dbo].[invoice]  WITH CHECK ADD  CONSTRAINT [FKrae3wipupp4ktnhx7hv85glt9] FOREIGN KEY([userdetail_id])
REFERENCES [dbo].[user_detail] ([id])
GO
ALTER TABLE [dbo].[invoice] CHECK CONSTRAINT [FKrae3wipupp4ktnhx7hv85glt9]
GO
ALTER TABLE [dbo].[invoice_detail]  WITH CHECK ADD  CONSTRAINT [FKbe6c21nke5fy4m3vw00f23qsf] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[invoice_detail] CHECK CONSTRAINT [FKbe6c21nke5fy4m3vw00f23qsf]
GO
ALTER TABLE [dbo].[invoice_detail]  WITH CHECK ADD  CONSTRAINT [FKit1rbx4thcr6gx6bm3gxub3y4] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoice] ([id])
GO
ALTER TABLE [dbo].[invoice_detail] CHECK CONSTRAINT [FKit1rbx4thcr6gx6bm3gxub3y4]
GO
ALTER TABLE [dbo].[photo]  WITH CHECK ADD  CONSTRAINT [FK8hs00tlacip0319kutudailre] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[photo] CHECK CONSTRAINT [FK8hs00tlacip0319kutudailre]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK1mtsbur82frn64de7balymq9s] FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK1mtsbur82frn64de7balymq9s]
GO
USE [master]
GO
create proc sp_getProductByCategoryandViews @categoryid int
as
begin
	select top 8 * from product 
	where category_id in (select id from category 
	where parent_id in(select id from category 
	where parent_id = @categoryid)) and status = 1 

end
go
create proc sp_getProductByIsFeatured 
as
begin
	select top 10 * from product 
	where is_featured = 1 and status = 1
	order by views desc
end
go
create proc sp_getProductByViews 
as
begin
	select top 9 * from product 
	where status = 1
	order by views desc
end
